.env
# Google Cloud JSON dosyasını gizle
metinden-sese-projesi-2a2b268d0d11.json
*.json

.gitignore

# Environment variables
GOOGLE_APPLICATION_CREDENTIALS=*
GEMINI_API_KEY=*
SECRET_KEY=*

# Virtual environment
.venv/
__pycache__/
